/* Search Hero Section Styles */

/* Container for the Search Hero */
.search-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* Styling for the hero image in the search section */
#hero-image-search {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 30px;
}

#hero-name-search, #hero-powerstats-search, #birth-place-search {
    font-size: 2rem; /* Desktop-friendly font size */
    margin: 10px 0;
}

/* Input and Button styles for Search Hero */
.input-search {
    margin-top: 20px;
}

input {
    padding: 10px 23px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
}

#search-hero {
    background-color: #f93a13;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#search-hero:hover {
    background-color: #ff7426;
}

#search-hero:active {
    transform: scale(0.95);
}

/* Responsive adjustments for mobile and tablet */
@media (max-width: 768px) {
    /* Adjust font and image sizes for smaller screens */
    #hero-name-search, #hero-powerstats-search, #birth-place-search {
        font-size: 1.5rem;
    }

    #hero-image-search {
        max-width: 90%;
    }

    input {
        width: 70%;
    }
}

@media (max-width: 480px) {
    #hero-name-search {
        font-size: 1.2rem;
    }

    #hero-image-search {
        max-width: 80%;
    }

    input {
        width: 80%;
    }

    #search-hero {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
